# Entorno Virtual
venv/

# Archivos de configuración de IDE
*.pyc
__pycache__/
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
.env

#Archivo de settings.py
balancigastos/balancigastos/settings.py

db.sqlite3
