{% extends 'base.html' %}
{% block title %}Registro de gastos vehículos{% endblock %}

{% block content %}

{% include 'navbar_profile.html' %}

<h4 class="h4 text-center text-danger">Registro de gastos de vehículos {{ proyecto.proyecto}}</h4>

<hr class="border border-danger border-3 opacity-75">

<div class="container text-center">
    <form method="post">
        {%csrf_token%}
        {{ gastos_vehiculos_form.as_p }}
        <button type="submit" class="btn btn-danger">Registrar</button>
    </form>
</div>

{% endblock %}